################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/consoleTest/FileContentIndex
/.vs/consoleTest/v17
